.slider{
    margin: 0 auto;
    width: 400px;
    height: 900px;
    overflow: hidden;
}

.slides{
    width: 400%;
    height: 400px;
    display: flex;
    
}

.slides input{
    display: none;
}

.slide{
    width: 25%;
    position: relative;
    
}

.slide img{
    width: 400px;
}

.manual-navigation{
    position: absolute;
    width: 400px;
    margin-top: 690px;
    display: flex;
    justify-content: center;
}

.manual-btn{
    border: 2px solid rgb(0, 0, 0);
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.6s;
}

.manual-btn:not(:last-child){
    margin-right: 60px;
}

.manual-btn:hover{
    background-color: rgb(0, 0, 0);
}

#radio1:checked ~ .first{
    margin-left: 0;
}

#radio2:checked ~ .first{
    margin-left: -25%;
}

#radio3:checked ~ .first{
    margin-left: -50%;
}

#radio4:checked ~ .first{
    margin-left: -75%;
}

@media (max-width: 1174px)
{
    .slider{
        margin: 0 auto;
        width: 600px;
        height: 800px;
        overflow: hidden;
        border: solid transparent;
        border-radius: 20px;
    }

    .slide img{
        width: 600px;
    }

    .manual-navigation{
        position: absolute;
        width: 600px;
        margin-top: 350px;
        display: flex;
        justify-content: center;
    }
}




